<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta name="ac:route" content="/">
  <base href="/">
  <!-- Required meta tags -->
  <title>Wappler starter page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Custom CSS styles-->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
  <script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxSmoothScroll/dmxSmoothScroll.js" defer></script>
</head>

<body is="dmx-app" id="index">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"> <a class="navbar-brand" href="#">CS 5002: Discrete Structures</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <div class="navbar-nav w-100 flex-row justify-content-end">
          <a class="nav-item nav-link" href="/">Home</a>



          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown1" role="button" aria-haspopup="true" aria-expanded="false">Stories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <a class="dropdown-item" href="/Chapter_1">Chapter 1</a>
              <a class="dropdown-item" href="/Chapter2">Chapter 2</a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown2" role="button" aria-haspopup="true" aria-expanded="false">Quizzes</a>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <a class="dropdown-item" href="/Quiz_1">Quiz 1</a>
              <a class="dropdown-item" href="/Quiz_2">Quiz 2</a>
            </div>
          </div><a class="nav-item nav-link" href="/Topics">Topics</a><a class="nav-item nav-link" dmx-on:click="browser1.goto('/Acknowledgements')" dmx-bind:href="'/Acknowledgements'">Acknowledgements</a><a class="nav-item nav-link" href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <header id="page-header">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12 text-center text-uppercase">

          <h2>
            Final Project</h2>
          <p>by michael mills, philip tran, letian qin, danyang feng</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12"> <img class="img-fluid" src="/assets/images/header.jpg">
          <h3 class="text-uppercase">123, Street Name, City</h3>
        </div>
      </div>
    </div>
  </header>
  <section id="description" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="text-uppercase section-title">PrOJECT Description</h4>
          <p class="lead">Our final project will be a text-based adventure style that will focus on children's stories where topics like number representations and conversions will be explored through a storytelling format educating how to perform number representations and conversions. Each story will follow up with an interactive lesson asking a user how to solve a problem. If the problem is answered then they will move on to the next chapter depending on if the answer was correct or not. The stories will be divided up into separate chapters where they are standalone addressing number representations and conversions. The project addresses how to convert between different number bases with interactive problem-solving.</p>
          <a href="#" class="btn btn-outline-primary">Begin Story</a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white">
    <div class="container-fluid">
      <dmx-smooth-scroll id="scroll1"></dmx-smooth-scroll>
      <dmx-preloader id="preloader1"></dmx-preloader>
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="section-title text-uppercase">Similar Properties</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4">
          <div class="card"> <img class="card-img-top" src="/assets/images/1.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Chapter 1</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <div class="card"> <img class="card-img-top" src="/assets/images/2.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Chapter 2</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <div class="card"> <img class="card-img-top" src="/assets/images/3.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Chapter 3</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer id="page-footer" class="bg-light">
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>