<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta name="ac:route" content="/Quiz_2">
  <base href="/">
  <!-- Required meta tags -->
  <title>Discrete Structures Final Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Custom CSS styles-->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="/dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-bs4.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-bs4.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/dmxSummernote.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap4Modal/dmxBootstrap4Modal.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxAnimateCSS/animate.min.css" />
  <script src="/dmxAppConnect/dmxAnimateCSS/dmxAnimateCSS.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
  <script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js" defer></script>
</head>

<body is="dmx-app" id="Chapter1" dmx-animate-move="">
  <div class="modal fade" id="modal1" is="dmx-bs4-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Congratulations!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You remember the process of converting decimal numbers to base 9 and confidently take on the task. The villagers are grateful for your help and invite you to join in the ritual. You take part in the festivities and enjoy the unique music, dances, and food of this new world.
          <p>
          </p>
          <p>Correct Answer: 5207&nbsp;</p>
          </p>
          <img src="/assets/images/cpt2Celebration.png" class="img-fluid">
          <p>
          </p>
          <p><br></p>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" dmx-on:click="modal1.hide()">Close</button>
          <button class="btn btn-primary" dmx-on:click="browser1.goto('/')">Finish</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal2" is="dmx-bs4-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Oh no!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>You try to convert 430 to base 9 but struggle to remember the process. You make several attempts, but each time you get a different answer. The villagers become frustrated with your lack of knowledge and refuse to let you participate in the ritual. You are forced to watch from a distance as the villagers celebrate without you. Eventually you are left by yourself with no direction or purpose.&nbsp;</p>
          <img src="/assets/images/cpt2Disappointment.png" class="img-fluid">
          <p>
          </p>
          <p><br></p>
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" dmx-on:click="browser1.goto('/')">No</button>
          <button class="btn btn-primary" dmx-on:click="modal2.hide()">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <div is="dmx-browser" id="browser1"></div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <dmx-preloader id="preloader1"></dmx-preloader> <a class="navbar-brand" href="#">CS 5002: Discrete Structures</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <div class="navbar-nav w-100 flex-row justify-content-end">
          <a class="nav-item nav-link" href="/">Home</a>



          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown1" role="button" aria-haspopup="true" aria-expanded="false">Stories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <a class="dropdown-item" href="/Chapter_1">Chapter 1</a>
              <a class="dropdown-item" href="/Chapter2">Chapter 2</a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown2" role="button" aria-haspopup="true" aria-expanded="false">Quizzes</a>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <a class="dropdown-item" href="/Quiz_1">Quiz 1</a>
              <a class="dropdown-item" href="/Quiz_2">Quiz 2</a>
            </div>
          </div><a class="nav-item nav-link" href="/Topics">Topics</a><a class="nav-item nav-link" dmx-on:click="browser1.goto('/Acknowledgements')" dmx-bind:href="'/Acknowledgements'">Acknowledgements</a><a class="nav-item nav-link" href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <header id="page-header">
    <div class="jumbotron">
      <h1 class="display-3" style="font-size: 60px; font-weight: bold;">Quiz 2</h1>
      <p class="lead">Now that you have some knowledge about number conversions, complete this quiz to test your mastery in the subject.</p>
      <hr class="my-4">
    </div>

  </header>
  <section id="description" class="bg-light">
    <div class="container wappler-block pt-4 pb-4">
      <div class="row">
        <div class="col-12 col-md-12">



          <h1>Help your new friends!</h1><img class="wappler-type-picture mb-3 mr-3 float-right " height="500" src="/assets/images/cpt2Village.png">
          <p>You find yourself in a strange new region where everything is unfamiliar. As you explore your surroundings, you come across a group of friendly villagers who need your help. They have a number in decimal format, 430, that they need to convert to base 9 to better understand it. They explain that they need to know the number of participants for an upcoming ritual, and the number is traditionally represented in base 9 from where they are from.</p>
          <p><br></p>
          <p>Question: Convert 430 to base 9&nbsp;</p>
          <form id="form1">
            <h1>Choose an Answer</h1>

            <div class="form-group bg-light">
              <div class="form-check">
                <input class="form-check-input" type="radio" value="" id="radio4" name="radio1" dmx-bind:checked="value+'=radio4'" dmx-on:click="radio4.setValue(value+'=radio4')">
                <label class="form-check-label" for="radio4">52700</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="" id="radio3" name="radio1" dmx-bind:checked="value+'=radio3'">
                <label class="form-check-label" for="radio3">5702</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="" id="radio2" name="radio1" dmx-bind:checked="value+'=radio2'">
                <label class="form-check-label" for="radio2">5207</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="" id="radio1" name="radio1" dmx-bind:checked="value+'=radio1'">
                <label class="form-check-label" for="radio1">5000</label>
              </div><button id="btn2" class="btn mt-2 btn-primary" dmx-on:click="run([{condition:{if:`form1.radio2.checked`,then:{steps:{run:{action:`modal1.show()`}}}}},{condition:{if:`form1.radio1.checked`,then:{steps:{run:{action:`modal2.show()`}}}}},{condition:{if:`form1.radio3.checked`,then:{steps:{run:{action:`modal2.show()`}}}}},{condition:{if:`form1.radio4.checked`,then:{steps:{run:{action:`modal2.show()`}}}}}])">Submit</button>
            </div>





          </form>

          </p>




        </div>
      </div>
    </div>
  </section>
  <footer id="page-footer" class="bg-light">
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>